/*         Основные размеры        */

$mobile-width: 320px;
$tablet-width: 767px;
$big-tablet-width: 999px;
$desktop-width: 1279px;

$retina-dppx: 1.5dppx;

/*         Основные цвета        */

$background-color: #020923;
$background-middle-color: #242A4C;
$background-light-color: #4A517F;
